# SQLite temp files
*journal
*wal

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Linux backup
*~

# Temp files and dirs
*.out
*.err
*.log
*.log*
*.xml
*.pdf
*.json
*.cache
*.gexf
*.swo
*.swp

# Caps
*.pcapng
*.pcap
*.eci
*.ecp

# Etterfilter compiled filters
*.ef

# MiniCPS

/logs
examples/toy/logs
examples/swat/logs
examples/swat-s1/logs

# State
*.sqlite
